.Form{
    padding-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Form2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2B2B2B;
    padding: 25px;
    border-radius: 25px;
    
}
.nome{
    padding-right: 120px;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-style: none;
    margin-top: 10px;
    box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.1);
}

.email{
    padding-right: 120px;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-style: none;
    margin-top: 10px;
}
.telefone{
    padding-right: 120px;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-style: none;
    margin-top: 10px;
}
.campo-mensagem{
    padding-right: 120px;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 200px;
    border-style: none;
    margin-top: 10px;

}
.button-envio{
    border-radius: 10px;
    border-style: none;
    margin-top: 10px;
    transition: all 1s;
} 
.button-envio:hover{
    background-color: rgb(212, 212, 212);
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    color: white;
}
.titulo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
}